@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    --dark-color: rgba(49,38,62, .93);
    --shadow-color: rgba(49,38,62,0.3);
    --light-color: rgba(68,53,91, .93);
    --accent-color: rgb(255, 174, 31);
    --secondary-color: #EE5622;
    --unselected-color: white;
    --selection-color: rgb(84, 84, 226);
    --hover-color: rgb(183, 183, 183);
    --footer-bg: rgba(49,38,62);
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url("assets/5631460.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-container {
    margin: 5em auto;
    max-width: 800px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px var(--shadow-color);
    overflow: hidden;
}

/**********
 * Header *
 **********/

.header-container {
    margin: auto;
    text-align: center;
    padding: 1.7rem;
    background-color: var(--dark-color);
    color: white;
}

.header-container h1 {
    margin: 2rem 0 0;
    font-size: 3rem;
}

.header-container p {
    font-size: 2rem;
}

/*****************
 * Form - general *
 *****************/

#survey-form {
    color: white;
    margin: auto;
    padding: 2rem 3rem 0.5rem;
    background-color: var(--light-color);
    
}

form .group-container {
    display: grid;
    margin: 3rem 0.5rem;
    
}

form input, #dropdown, label, #comments, p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
}

form .text-input, #dropdown, #comments {
    border-radius: 8px;
    padding: 0.7rem;
}

form input {
    padding: 0.2rem;
}

form p {
    margin: 0;
}

form span {
    font-size: 1.4rem;
}

form button {
    background-color: var(--accent-color);
    color: black;
    border-radius: 5px;
    font-size: 2.2rem;
    margin: 2rem auto 2.5rem;
    font-family: 'Poppins', sans-serif;
    display: block;
    border: none;
    padding: 0.5rem 3rem;
}

form button:hover {
    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
}

.question {
    margin: 0 0 0.5rem 0;
}

/**********
 * Radio  *
 **********/
#radio-form-container label {
    display: flex;
    align-items: center;
    gap: 1rem;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: var(--unselected-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="radio"]:after {
    font-family: "Font Awesome 5 Free";
    content: "\f111";
    font-size: 8px;
    font-weight: 900;
    color: white;
    display: none;
}

input[type="radio"]:hover {
    background-color: var(--hover-color);
}

input[type="radio"]:checked {
    background-color: var(--selection-color);
}

input[type="radio"]:checked:after {
    display: block;
}

/************
 * Checkbox *
 ************/
#checkbox-form-container label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: var(--unselected-color);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"]:after {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    font-size: 15px;
    color: white;
    display: none;
}

input[type="checkbox"]:hover {
    background-color: var(--hover-color);
}

input[type="checkbox"]:checked {
    background-color: var(--selection-color);
}

input[type="checkbox"]:checked:after {
    display: block;
}


/**********
 * Footer *
 **********/

footer {
    margin: 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: var(--footer-bg);
    padding: 0.5rem 0 2.3rem 0;
    color: white;
}

footer a {
    color: white;
}

address {
    font-style: normal;
    margin: 0;
    padding: 0;
}

footer a:hover {
    background-color: var(--accent-color);
    color: black;
}
